@import "./styles/variables.css";
@import "./styles/header.css";
@import "./styles/hero.css";
@import "./styles/portfolio.css";
@import "./styles/about.css";
@import "./styles/contact.css";
@import "./styles/footer.css";

/* debug */
/* * {
  border: 1px solid red;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* solution for IE? */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  position: relative;

  width: 100vw;
  height: auto;
}

/* layout */
.hero,
.portfolio,
.about,
.contact {
  padding: 0 var(--mobile-side-padding);
}
